<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/Dashboard.css"
    <link href="~/Content/Site.css" rel="stylesheet" /> />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="mySidenav" class="sidenav">
        @*@Html.ActionLink("Admin", "Index", "Admin")*@

        <p class="logo"><span>olx</span></p>
        <a href="/Admin/SubCategoryList" class="icon-a"><i class="fa fa-product-hunt icons"></i>Product Subcategory</a>
        @*<a href="/home/Contact" class="icon-a"><i class="fa fa-users icons"></i>   Customers</a>
            <a href="#" class="icon-a"><i class="fa fa-list icons"></i>   Products</a>
            <a href="#" class="icon-a"><i class="fa fa-shopping-bag icons"></i>   Orders</a>
            <a href="#" class="icon-a"><i class="fa fa-tasks icons"></i>   Category</a>*@

    </div>

    <div id="main">
        <div class="head">
            <div class="col-div-6" style="margin-top:-40px">
                <span style="font-size: 30px; cursor: pointer; color: black;" class="nav">☰ Dashboard</span>
                <span style="font-size: 30px; cursor: pointer; color: black;" class="nav2">☰ Dashboard</span>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
    $(".nav").click(function () {
                    $("#mySidenav").css('width', '70px');
                    $("#main").css('margin-left', '70px');
                    $(".logo").css('visibility', 'hidden');
                    $(".logo span").css('visibility', 'visible');
                    $(".logo span").css('margin-left', '-10px');
                    $(".icon-a").css('visibility', 'hidden');
                    $(".icons").css('visibility', 'visible');
                    $(".icons").css('margin-left', '-8px');
                    $(".nav").css('display', 'none');
                    $(".nav2").css('display', 'block');
                });

                $(".nav2").click(function () {
                    $("#mySidenav").css('width', '300px');
                    $("#main").css('margin-left', '300px');
                    $(".logo").css('visibility', 'visible');
                    $(".icon-a").css('visibility', 'visible');
                    $(".icons").css('visibility', 'visible');
                    $(".nav").css('display', 'block');
                    $(".nav2").css('display', 'none');
                });</script>


            <div class="container body-content">
                @RenderBody()
                
            </div>
            <script src="~/Scripts/Custom.js"></script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>